*{
    padding: 0;
    margin: 0;
    color: white;
}

.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

.dark-color{
    background-color: #21222C;
}
body{
    background-image: url(../img/confetti-doodles.png   );  
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


nav{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    z-index: 1;
    top: 0;
}

nav h1{
    border: solid 1px gray;
    padding: 5px 5px 10px 5px;
    text-align: center;
}
header{
    background-image: url(../img/Banner_Programming.png);
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    width: 100%;
    font-size: 25px;
    gap: 40px;
    height: 500px;
    color: white;
    z-index: 0;
    
}

h2, h3{
    font-family: Arial, Helvetica, sans-serif;
}

.topico{
    background-color:rgb(40, 42, 54);
    text-align: center;
    margin-top: 40px;
    padding: 40px;
    width: 90%;
    border-radius: 10px;
    height: max-content;
    margin-bottom: 100px;
}

.topico h2, h3{
    font-size: 40px;
    color: rgb(240, 223, 237);
    padding-bottom: 20px;
}

.topico-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.options-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-left: 40px;
}

.options-container button{
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.options-container button:hover{
    opacity: 0.5;
    cursor: pointer;
}

p, a{
    font-size: 20px;
}   

.topico-container p{
    width: 300px;
}

ul{
    display: grid;
    grid-template-columns: 500px 300px;
    gap: 10px;
    width: 100%;
    justify-content: center;

}
li{
    width: max-content;
    text-align: center;
}

footer{
    width: 100%;
    background-color: rgb(40, 42, 54);
    height: 120px;
    border-top: rgb(31, 31, 31) 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    bottom: 0;
    gap: 15px;
    padding-left: 30px;
}

a:hover{
    opacity: 0.7;
}

@media screen and (max-width: 1020px){

    .topico h2, h3{
        font-size: 25px;
    }

    .options-container{
        margin: 0;
    }
    .options-container button, h1{
        font-size: 20px;
        width: max-content;
        justify-content: space-between;
        margin-left: 10px;
    }
    header{
        height: 310px;
        font-size: 20px;

    }
    .topico-container{
        flex-direction: column;
        gap: 20px;
    }
    .topico-container img{
        width: 70px;
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer img{
        height: 60px;
        width: 60px;
    }
}
